---
title: "Create a DataFrame from Dict of Series"
author: "Rakshmitha"
date: 2020-08-13
description: "-"
type: technical_note
draft: false
---

Dictionary of Series can be passed to form a DataFrame. The resultant index is the union of all the series indexes passed.

In [1]:
import pandas as pd

In [2]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

for the series one, there is no label ‘d’ passed, but in the result, for the d label, NaN is appended with NaN.